
.start-panel {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 200px auto;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="button"] {
    background-color: #BDECB6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}
